body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7ede2; /* Light beige */
  color: #264653; /* Deep greenish-blue */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
